@font-face {
    font-family: "sunny";
    src: url("../assets/fonts/Sunny\ Spells\ Basic.ttf");
}


h1 {
    color: aqua;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font: size 20px;
    color: rgb(12, 214, 204);
}

a {
    color: rgb(12, 214, 204);
    font-style: oblique;
}

li {
    list-style: none;
    text-decoration: none;
}

p {
    color: rgb(24, 90, 90);
    font-weight: 400;
}

.colorAqua {
    color: rgb(44, 225, 225);
    background-color: rgb(231, 224, 216);
}

.colorDiferente {
    color: rgb(24, 90, 90);
    font-weight: 500;
}

legend {
    color: rgb(24, 90, 90);
}

fieldset {
    color: rgb(24, 90, 90);
    background-color: rgb(231, 224, 216);
}


.colorAzul {
    color: rgb(16, 16, 116);
    font-family: "sunny" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.colorCeleste {
    color: rgb(99, 181, 226);
    font-family: "sunny";
}

@media (max-width: 768px) {
    .ratio-21x9 {
        --bs-aspect-ratio: 100%;
    }
}

.formulario-contacto {
    max-width: 400px;
}