$primary: #010c80;
$info: #00ffef;

@import "_catalog";

.ratio-21x9 {
    @media (max-width: 767.98px) {
        --bs-aspect-ratio: 100%;
    }
}

@font-face {
    font-family: "sunny";
    src: url("../assets/fonts/sunny-spells-basic.ttf");
}

.font-sunny {
    font-family: sunny;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-transition {
    .carousel-inner {
        .carousel-item {
            transition: transform 1s ease-in;
        }
    }
}

.text-primary {
    color: $primary !important;
}

.text-info {
    color: $info !important;
}